.InputStyle
{
    width: 90%;
    height: 30px;
    outline: none;
}

/* input{
    background: none;
    border: 2px solid #3498db;
    border-radius: 25px;
    padding: 10px;
    outline: none;
    transition: 0.25s;
} */

input{
    background: none;
    border: 2px solid #3498db;
    border-radius: 25px;
    padding-left: 10px;
    outline: none;
    transition: 0.25s;
    text-align: center;
    color: white
}

input:focus{
    width: 100%;
    border-color: #2ecc71; 
}

.InputStyle ~ input::placeholder
{
    display: none;
}

.InputStyle:focus ~ input::placeholder
{
    display: block;
}