.item
{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(26, 24, 24);
}

.item p{
    font-size: 20px;
    color: white ;
}

.action,
.details
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    column-gap: 5px;
}

.action button {
    display: inline-block;
    padding: .7rem 1.25rem; 
    font-size: 1rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    outline: none;
}
    .action button::after {
      content: '';
      color: black;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      z-index: -2;
    }
    .action button::before {
      content: '';
      position: absolute;   
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--clr-red);
      transition: all .3s;
      z-index: -1;
    }
    .action button:hover {
      color: #fff;
      cursor: pointer;
    }
    .action button:hover::before {
        width: 100%;
      }

@media screen and (max-width: 800px)
{
    .item p{
        font-size: 30px;
    }

    .item
    {
        display: flex;
        flex-direction: column;
    }
    
}