body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-size-0: 0.9rem;
  --font-size-1: 1rem;
  --font-size-2: 1.125rem;
  --font-size-3: 1.375rem;
  --font-size-4: 2rem;
  --clr-bg: #171d23;
  --clr-sidebar-bg: #171d23;
  --clr-scrollbar: hsla(0,0%,100%,0.2);
  --clr-header-bg: #0f1117;
  --clr-footer-bg: #0f1117;
  --clr-banner-bg: #0f1117;
  --clr-centered-box-bg: #0f1117;
  --clr-inner-header: #27313a;
  --clr-inner-header-highlight: #323f4a;
  --clr-tile-header: #212a32;
  --clr-box-bg: #13181c;
  --clr-editor-bg: #13181c;
  --clr-colorlist: #000;
  --clr-border: #27313a;
  --clr-border-brighter: #323f4a;
  --clr-target-tile-bg: #27313a;
  --clr-active-filter: #27313a;
  --clr-dropdown-bg: #27313a;
  --clr-btn: #323f4a;
  --clr-btn-primary: #0060ca;
  --clr-btn-danger: #923c3c;
  --clr-btn-text: #fff;
  --clr-input: #0f1117;
  --clr-brand: #ffdf00;
  --clr-loader: #fff;
  --clr-form-bg: #fff;
  --clr-link: #fff;
  --clr-heading: #fff;
  --clr-text: #cbd1e1;
  --clr-tab-bg-selected: #323f4a;
  --clr-header-text: #cbd1e1;
  --clr-text-light: #a0b3c6;
  --clr-text-lightest: #91a7be;
  --clr-text-hire: #fff;
  --clr-green: #616f39;
  --clr-red: #f83c3b;
}
